@import "../../styles/globals.scss";

.featureSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: $space-huge 0;
  margin: $space-huge 0;
  background-color: $light-blue;
  border-radius: $br;
  padding: $space-huge $space-mega;

  .featureContent {
    width: 60%;

    .title {
      @include font-scale("super", bold);
      margin: 0;
      color: $off-white;
    }

    .content {
      padding: $x2 0;
      color: $off-white;
    }
  }

  .illustration {
    width: 40%;
    display: flex;
    justify-content: flex-start;

    .featureImage {
      width: 70%;
    }
  }
}
